@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1125px;
}

.btn_classic{
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 50px;
    border: none;
    border-radius: 5px;
    background: #D23166;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link{
    color: #150101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    transition: 0.3s all ease-in-out;
}

.nav-link:hover{
    color: #D23166;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
    opacity: 1;
}

.navbar-nav .nav-item.active {
    background-color: #007bff;
    color: #fff;
}

header{
    background: rgba(242, 206, 218, 0.3);
}

.welcome_section{
    background: rgba(242, 206, 218, 0.3);
    padding-top: 200px;
    padding-bottom: 200px;
}

.welcome_section  .small_text{
    color: #0F0101;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px; 
}


.welcome_section .heading_h1{
    color: #0F0101;
    font-family: Fredoka;
    font-size: 57.33px;
    font-style: normal;
    font-weight: 600;
    line-height: 120.5%; 
}

.welcome_section .text_description{
    margin-top: 30px;
    color: #0F0101;
    font-family: Hind Madurai;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    opacity: 0.6;
    max-width: 520px;
}


.welcome_section .btn_classic{
    color: #FAFAFA;
    font-family: Hind Madurai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 14px 50px;
    border: none;
    border-radius: 5px;
    background: #D23166;
}

.welcome_section .btn_sub{
    margin-top: 30px;
}

.coctail_img {
    position: relative;
    overflow: hidden;
}

.img_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* чтобы картинка занимала всю доступную ширину блока */
    height: 100%; /* чтобы картинка занимала всю доступную высоту блока */
    object-fit: cover; /* чтобы изображение заполняло блок без искажений */
}

.delivery{
    padding-top: 100px;
    padding-bottom: 100px;

}

.delivery .icon_box{
    border-radius: 7px;
    background: #FFF;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.03);
    padding: 25px 25px;
    text-align: center;
}

.delivery .icon_box .icon_box_image{
    margin-bottom: 20px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.delivery .icon_box .icon_box_image img{
    width: 32px;
    height: 32px;
}

.delivery .icon_box .icon_box_heading h3{
    color: #000;
    font-family: Hind Madurai;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.delivery .icon_box .icon_box_description p{
    color: #000;
    text-align: center;
    font-family: Hind Madurai;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}