@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-shadow: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 0;
  margin: 0;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  padding: 30px 0;
}

.menu_list {
  display: flex;
  list-style: none;
  justify-content: center;
}
.menu_list .menu_item {
  margin: 0 10px;
  font-size: 18px;
}

.subscribe {
  background: none;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 10px;
  transition: 0.33s all ease;
}
.subscribe:hover {
  border: 1px solid #000;
  border-radius: 33px;
}

.logo-text {
  font-size: 28px;
}

.avatar {
  max-width: 550px;
  margin: auto;
}
.avatar .img_avatar {
  border-radius: 50%;
  width: 100%;
}

.about_me {
  padding: 120px 0;
}

.test_class .test {
  margin: 0px;
}
